[defaults]
inventory = ../shared-inventory/inventory/hosts.yml, inventory/hosts.yml
roles_path = roles:~/.ansible/roles:..
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
vault_password_file = .vault_pass
retry_files_enabled = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
